{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Guestbook ^^</title>
        <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
        <script src="{% static 'fetch.js' %}"></script>
        <script type="text/javascript" language="javascript">

            function createMessageItem(message) {
                const msg = document.createElement('div');
                msg.setAttribute('class', 'message-item');
                const nickname = document.createElement('div');
                nickname.setAttribute('class', 'nickname');
                const link = document.createElement('a');
                link.appendChild(document.createTextNode(message.nickname));
                link.setAttribute('href', 'mailto:'+message.email);
                nickname.appendChild(link);
                const datetime = document.createElement('div');
                datetime.setAttribute('class', 'datetime');
                datetime.appendChild(document.createTextNode(message.created_at));
                const messagebody = document.createElement('div');
                messagebody.setAttribute('class', 'message-body');
                messagebody.appendChild(document.createTextNode(message.message));
                msg.appendChild(nickname);
                msg.appendChild(datetime);
                msg.appendChild(messagebody);
                return msg;
            }

            function sendMessage() {
                const nickname = document.getElementById('nickname').value;
                const email = document.getElementById('email').value;
                const message = document.getElementById('message').value;
                
                if (nickname == '' || email == '' || message == '') {
                    alert('Please fill every field');
                } else {
                    postData("http://127.0.0.1:8000/api/", {nickname: nickname, email: email, message: message}).then((data) => {
                        refreshMessages();
                        emptyFields();
                        alert('Thank you for your message!');
                    });
                }
            }

            function refreshMessages() {
                getData("http://127.0.0.1:8000/api").then((data) => {
                    root = document.getElementById('messages');
                    root.innerHTML = '';
                    for(let i = 0; i < data.length; i++) {
                        const currElem = data[i];
                        msg = createMessageItem(currElem);
                        root.appendChild(msg);
                    }
                });
            }

            function emptyFields() {
                document.getElementById('nickname').value = '';
                document.getElementById('email').value = '';
                document.getElementById('message').value = '';
            }

            onload = function() {
                document.getElementById('submitbutton').onclick = sendMessage;
                refreshMessages();
            }

        </script>
    </head>
    <body>
        
        <div id="container">
            <header>
                <h1>Guestbook</h1>
            </header>
            <section>
                <section id="greeting">
                    <p>Please leave me some message below. Be cultured, it is not a moderated platform.</p>
                </section>
                <div id="submitform">
                    <div class="credentials">
                        <input type="text" name="nickname" id="nickname" placeholder="Nickname" />
                        <input type="text" name="email" id="email" placeholder="E-mail" />
                    </div>
                    <div class="message">
                        <textarea name="message" id="message"></textarea>
                    </div>
                    <div class="submit">
                        <button id="submitbutton">Submit</button>
                    </div>
                </div>
                <div id="messages"></div>
            </section>
        </div>

    </body>
</html>